#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 25px;
    width: 35px;
    height: 35px;
}

#welcome-text-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;
}

#welcome-card-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#welcome-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: white;
    position: relative;
    width: 25%;
    max-width: 350px;
    height: 60%;
    max-height: 585px;
    border-radius: 8px;
    overflow: hidden;
    max-height: 650px;
}

#corpus-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

#welcome-image {
    width: 90%;
    height: auto;
    margin-bottom: 25px;
}

#welcome-text-container {
    color: #79879b;
    opacity: 0.8;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
}

#welcome-title {
    font-weight: 600;
    font-size: 1.5em;
    margin: 0 15px;
}

#go-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 20px;
    width: 100%;
    height: 75px;
    background: #dee6f7;
    /*opacity: 0.2;*/
    align-self: flex-end;
}

#button-text {
    font-family: 'Raleway', sans-serif;
    opacity: 1;
    font-weight: 800;
    color: #2e3747;
    transition: .1s all;
    cursor: pointer;
}

#button-text:active {
    transform: scale(0.7);
    transition: .1s all;
}

#inventory-button {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 998;
}

#blackscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 9;
    transition: .8s all;
}

#top-hud-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleY(-1);
    top: 0;
}

#top-hud {
    opacity: 0.2;
    border-bottom: 100px solid #67c6b8;
    border-left: 100px solid #67c6b8;
    border-right: 100px solid #67c6b8;
    height: 0;
    width: 300px;
    -webkit-clip-path: polygon(15% 75%, 83% 75%, 100% 100%, 0% 100%);
    clip-path: polygon(15% 75%, 83% 75%, 100% 100%, 0% 100%);
}

#tryptic-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: .8s all;
}

.tryptic-panel {
    width: 33%;
    height: 100%;
    position: relative;
}

.side-panel {
    opacity: 0;
    background: white;
    cursor: pointer;
    transition: .3s all;
}

.side-panel:hover {
    opacity: 0.1;
    transition: .3s all;
}

.side-panel:active {
    transform: scale3d(0.95, 1, 1);
    transition: .3s all;
}

#left-panel {
    left: -20px;
    transform-origin: left;
}

#middle-panel {}

#right-panel {
    right: -20px;
    transform-origin: right;
}

.fade-out {
    z-index: 9 !important;
    opacity: 0 !important;
    transition: .8s all;
}
.fade-in {
    z-index: 998 !important;
    opacity: 1 !important;
    transition: .8s all;
}

@media (max-width: 768px) and (max-height: 800px) {
    /* For mobile phones: */
    #welcome-image {
        max-width: 40%;
    }
}
